/* *{outline : 1px solid lime} */

body{
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    /* margin: auto; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.header{
    height: 500px;
    width: auto;
    flex-direction: column;
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    justify-content: space-between;

}

h3{
    font-size: 24px;
    color:#F9FAF8;
}

h2{
    font-size:48px;
    font-weight: bold;
    color: #F9FAF8;
}

p,a{
    font-size: 18px;
    color: #E5E7EB;
}

.topheader {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 600px;
    margin-top: 15px;
   
}
.subheader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap:200px;
    margin-bottom: 50px;
}

ul{ 
    list-style-type: 0;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap:8px
}

a{
    text-decoration: 0;

}
img {
    display: flex;
    width: 550px;
    height: 300px;

}

button{
background-color: #3882F6; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.main{
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pictures{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
    margin-top: 50px;
    font-size: 18px;
    color: #b3b5b8ec;
}

.square img{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 25px;
    padding: 10px;
}
.text{
    margin: 10px;
    margin-right: 150px;
}

.quote{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: auto;
    background-color: #E5E7EB;
    padding: 150px;
    padding-left: 400px;
    padding-right: 400px ;
    gap: 30px;
}

.quoteText{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.caption{
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight:900;
}

.action{
    height: 100px;
    display: flex;
    background-color: #3882F6;
    margin: 50px 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    padding: 10px;
}

.title{
    font-size: 25px;
    color: #E5E7EB;
}
.undertitle{
    font-size: 20px;
    color: #E5E7EB;
}

.footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
    font-size: 20px;
    padding: 50px;
}